.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
  }

  .icons {
    display: flex;
    flex-direction: row;
    height: 100%;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;

      svg {
        width: 0.7rem;
      }
    }
  }
}
